table.block td {
    border: 1px solid;
    vertical-align: top;
}

table.block tr:nth-child(even) {
    background-color: #D61818;
}

td.indent {
    padding-left: 10px
}

td.title {
    font-weight:bold;
}
